PPN/App_WebReferences/wsInversora/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Autenticacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutenticacionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticacionAppl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="app" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticacionApplResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutenticacionApplResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validacionUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validacionUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validacionUserResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticacionApplm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="app" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticacionApplmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutenticacionApplmResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutenticacionSoapIn">
    <wsdl:part name="parameters" element="tns:Autenticacion" />
  </wsdl:message>
  <wsdl:message name="AutenticacionSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticacionResponse" />
  </wsdl:message>
  <wsdl:message name="AutenticacionApplSoapIn">
    <wsdl:part name="parameters" element="tns:AutenticacionAppl" />
  </wsdl:message>
  <wsdl:message name="AutenticacionApplSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticacionApplResponse" />
  </wsdl:message>
  <wsdl:message name="validacionUserSoapIn">
    <wsdl:part name="parameters" element="tns:validacionUser" />
  </wsdl:message>
  <wsdl:message name="validacionUserSoapOut">
    <wsdl:part name="parameters" element="tns:validacionUserResponse" />
  </wsdl:message>
  <wsdl:message name="AutenticacionApplmSoapIn">
    <wsdl:part name="parameters" element="tns:AutenticacionApplm" />
  </wsdl:message>
  <wsdl:message name="AutenticacionApplmSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticacionApplmResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Autenticacion">
      <wsdl:input message="tns:AutenticacionSoapIn" />
      <wsdl:output message="tns:AutenticacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutenticacionAppl">
      <wsdl:input message="tns:AutenticacionApplSoapIn" />
      <wsdl:output message="tns:AutenticacionApplSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validacionUser">
      <wsdl:input message="tns:validacionUserSoapIn" />
      <wsdl:output message="tns:validacionUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutenticacionApplm">
      <wsdl:input message="tns:AutenticacionApplmSoapIn" />
      <wsdl:output message="tns:AutenticacionApplmSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autenticacion">
      <soap:operation soapAction="http://tempuri.org/Autenticacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticacionAppl">
      <soap:operation soapAction="http://tempuri.org/AutenticacionAppl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validacionUser">
      <soap:operation soapAction="http://tempuri.org/validacionUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticacionApplm">
      <soap:operation soapAction="http://tempuri.org/AutenticacionApplm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Autenticacion">
      <soap12:operation soapAction="http://tempuri.org/Autenticacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticacionAppl">
      <soap12:operation soapAction="http://tempuri.org/AutenticacionAppl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validacionUser">
      <soap12:operation soapAction="http://tempuri.org/validacionUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticacionApplm">
      <soap12:operation soapAction="http://tempuri.org/AutenticacionApplm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://sv-0080/WSSecurity_dsr/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://sv-0080/WSSecurity_dsr/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>